/*CSS DOCUMENT*/

img {
    width: 100%; 
}
html{
    
}

ul{
    list-style: none;
}

h1{
    width: 3em;
    margin: auto;
}


/*Please don’t change this CSS stylesheet for the content hierarchy assginment */