html{
    background-color: rgb(246,256,240);
    margin: 2em;
    
}
body {
    font-family: Helvetica Neue, sans-serif;
}

h1{
    font-size: 3em;
    color: seagreen;
    padding: 4em 0em 4em 0em;
    text-align: center;
    
}
h2{
    text-align: center;
    text-transform: uppercase;
}
h3{
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 5em 0em 0em 0em;
    text-align: center;
    color: darkgray
}
h4{
    margin: 2em 0em 0em 0em;
    font-weight: bold;
    
}
p{
    margin: 0.4em 0em 0em 0em;
    color: darkslategray;
    font-weight: light;
}
ul{
    font-size: 1em;
    list-style: none;
    margin: auto;
        
}
