/*CSS DOCUMENT*/

@import url("https://use.typekit.net/yyd2jab.css");

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	padding: 0;	border: 0;	vertical-align: baseline;} 

img {
    width: 100%; 
}

html{
    font-family: neue-haas-unica, sans-serif;
    background: #000000;
    color: #ffffff;
}

header {
    margin-top: 3em;
    margin-left: 3em;
}

nav{
    font-family: neue-haas-unica, sans-serif;
    margin-top: 3em;
}
nav li {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
}

li a {
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    margin-right: 3em;
}

li a:hover {
    color: #adf;
}


header img{
    width: 5em;
}

h1{
    font-family: rosella-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

h3 p{
    font-size: 1em
}

article {
    margin: 3em 3em 7em 3em;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    padding-top: 1em;
    line-height: 40%;
}

.menu h2{
    padding-top: 2em;
    font-size: 1.5em;
}

.contact a{
    color: #adf;
}

footer{
    background-color: #333;
    color: #aaaaaaaa;
    padding: 3em;
}

footer img{
    width: 4em;
}

footer a{
    color:#aaa;
}
@media screen and (min-width: 40em){
    html{
        max-width: 55em;
        margin: auto;
    }
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */